include LICENSE
include README.md
exclude Makefile
exclude *.toml
exclude *.cfg
exclude *.sh
exclude *.yml
exclude docs
recursive-include requirements *.txt
recursive-exclude docs *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude site *
