include LICENSE
include README.md
exclude CONTRIBUTING.md
exclude Makefile
exclude *.toml
exclude *.cfg
exclude *.sh
exclude *.yml
exclude docs
exclude scripts
exclude Dangerfile
exclude Gemfile
recursive-include requirements *.txt
recursive-exclude docs *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude site *
recursive-exclude scripts *.sh
recursive-exclude tests *.py
